
	/* Basic Cross Browser Reset */
	html {
		height: 100%;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
	}
	*, *:before, *:after {
		-webkit-box-sizing: inherit;
				box-sizing: inherit;
	}
	body{
		height: 100%;
		margin: 0;
	}

	/* Global Font */
	html {
		font-family: Forum;
		font-size: 24px;
	}

	/* Vertical Position */
	body{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		background-color: whitesmoke;
	}

	.displayNone {
		display: none;	
	}

	/* TODO: coin thickness http://jsfiddle.net/t8gberzy/1/ */
	
	.flip-box:nth-child(1),
	.flip-box:nth-child(21){
		margin-left: 16.66%;
	}
	.flip-box:nth-child(5),
	.flip-box:nth-child(16){
		margin-left: 08.33%
	}
	.flip-box:nth-child(9),
	.flip-box:nth-child(20){
		margin-right: 08.33%
	}
	.flip-box:nth-child(4),
	.flip-box:nth-child(24){
		margin-right: 16.66%;
	}
	
	.flip-box {
		background-color: transparent;
		
		transform-style: preserve-3d !important;
		display: inline-block;
		-webkit-perspective: 500px;
		        perspective: 500px;
		max-width: 300px;
		max-height:300px;
		min-width: 100px;
		min-height:100px;
		width: calc( 19.40vh - 18px );  /* old firefox no 'min()' support */
		height: calc( 19.40vh - 18px ); /* old firefox no 'min()' support */
		width:  min( 16.26vw, calc( 19.40vh - 18px ) ); /* vw calc: 100% / 6 = 16.66%; 16.66% - ( .2 * 2 ) = 16.26 */
		height: min( 16.26vw, calc( 19.40vh - 18px ) ); /* vh calc: 100% / 5 = 20.00%; 20.00% - ( .2 * 2 ) = 19.40 */
		margin: .2%; /* h1 height: 90px / 5 = 18px                                            >>> .2 <<<		   */
	}
	#insertCardsHere{
		max-width: 1845px; /* old firefox no 'min()' support */
		max-width: min( 100%, 1845px );  /*                                   300px * 6 * ( 100 + .2 * 12 ) / 100 = 1845px; */
		min-width: 615px;                /*                                   100px * 6 * ( 100 + .2 * 12 ) / 100 = 615px */ 
		width: calc( 120vh - 115px );    /* max-width calc: 100vh * 6 / 5 = 120vh ; 115px? was expecting 90px * 1.2 = 108px */
		margin: auto;
		-ms-user-select: none;
		    user-select: none;
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		text-align: center;
		
	}

	.flip-box-inner {
		position: relative;
		width: 100%;
		height: 100%;
		-webkit-transition: -webkit-transform 0.8s;
		transition: -webkit-transform 0.8s;
		-o-transition: transform 0.8s;
		transition: transform 0.8s;
		transition: transform 0.8s, -webkit-transform 0.8s;
		-webkit-transform-style: preserve-3d;
		        transform-style: preserve-3d;
	}
	.flip-box.flipped .flip-box-inner {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}
	.flip-box-front,
	.flip-box-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border: 1px solid;
		border-color: #ccc #999 #999 #ccc;
		border-radius: 18px;
		overflow: hidden;
	}
	.flip-box-back {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}
	
	#insertCardsHere img {
		width: 100%;
		height: 100%;
	}
	
	h1{
		padding: 21px;
		margin: 0;
		text-align: center;
		font-size: 43px;
	}
	body:fullscreen h1{
		display: none;	
	}
	h3{
		margin: 0;	
	}

	.character{
		position: fixed;
		bottom: 6px;
		right: 0;
		left: 0;
		text-align: center;
		color: white;
		font-weight: 700;
		text-shadow: 0px 0px 1px black, 0px 0px 1px black; /* double black */

	}

   /*infoScreen*/
   #infoScreen{
		z-index: 100000;
		width: 500px;
		height: 250px;
		max-height: 40%;
		position: fixed;
		left: calc( 50% - 250px);
		bottom: calc( 50% - 125px);
		-webkit-box-shadow: 5px 5px 5px #63616147;
		        box-shadow: 5px 5px 5px #63616147;
		background-color: white;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
	}
	
	/*Slider*/
	.sliderwrapper {
		display: inline-block;
		width: 190px;
		height: 34px;
		position: relative;
	}
	.sliderwrapper input {display:none;}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #aaa;
		border-radius: 34px;
	}
	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		-o-transition: .4s;
		transition: .4s;
		border-radius: 50%;
		-webkit-transition-property: -webkit-transform;
		transition-property: -webkit-transform;
		-o-transition-property: transform;
		transition-property: transform;
		transition-property: transform, -webkit-transform
	}
	input:checked + .slider {
		background-color: #659355;
	}
	input:focus + .slider {
		-webkit-box-shadow: 0 0 1px #2196F3;
			    box-shadow: 0 0 1px #2196F3;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(155px);
		-ms-transform: translateX(155px);
		transform: translateX(155px);
	}
	input:checked + .slider:after
	{  
		content:'Game Loading';
	}
	.slider:after {
		content:'Start New Game';
		color: white;
		display: block;
		position: absolute;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
		font-size: 19px;
		white-space: nowrap;
	}
